body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
}
img{
    display: block;
}
.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
}

/* HEADER */
.header {
    border-bottom: 1px solid #E7E9FC;
}
.header_one-navbar {
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    color: #FFFFFF;
}
.header_logo {
    margin-right: 76px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
}

.header_span {
    color: #2E2F42;
    display: flex;
}

.header_list {
display: flex;
width: auto;
height: auto;
gap: 40px;
margin-right: 40px;
}
.list{
    padding: 24px;
}
.header_navli {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.header_navli:hover {
    color: #404bbf;
}
.header_navli:focus {
    color: #404bbf;
}

.header_adres {
    font-style: normal;
}
.header-adres_list{
    align-items: center;
    display: flex;
    gap: 40px;
    align-items: center;
    padding: 24px;
}
.header_adres-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    margin-right: 40px;
}
.header_adres-link:hover {
    color: #404BBF;
}
.header_adres-link:focus {
    color: #404BBF;
}
/*MAİN*/
.section-main {
    padding: 188px;
    background-color: #2e2f42;
}
.hone-css {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}
.button {
    background-color: #4D5AE5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    cursor: pointer;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
}
.button:hover {
    background-color: #404BBF;
}
.button:focus {
    background-color: #404BBF;
}
.sec_two{
    padding: 120px;
}
.visually-hidden{
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
}
ul {
    padding: 0;
    margin: 0;
}
.ul-list {
    display: flex;
    gap: 24px;
}
.ul-list_item{
    width: calc((100% - 72px) / 4);
}
.hthree-css {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
}
.hthreep-css {
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.section-three {
    background-color: #F4F4FD;
}
.htvoclass {
    background-color: #F4F4FD;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}
.ulclass {
    background-color: #FFFFFF;
}

.section-threeli {
    background-color: #FFFFFF;
}
/*FOOTER*/
.footerone {
    background-color: #2e2f42;
    padding-top: 100px;
}
.spanfooter {
    color: #F4F4FD;
}
.footer-text {
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
}